/* FONTE */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Open+Sans:wght@300;800&display=swap');

h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold; 
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold; 
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;   
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold; 
}

p {
    font-family: 'Open Sans', sans-serif;
}
/* FIM FONTE */

/* SLIDER */
.slider-image {
    background-image: linear-gradient(to top, transparent 0%, #000000 100%), linear-gradient(to bottom, transparent 0%, #000000 100%), url("../img/s1/slider_image.jpg");
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.slider-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/* Titulo 1*/
.t1 {
    font-family: 'Anonymous Pro', monospace;
    font-size: 32px;
}
/* Titulo 2 */
.t2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    margin: 0px 0px 30px 0px;
}
/* FIM SLIDER */

/* Carousel SERVIÇOS */
.carousel-indicators li {
    background-color:white;
    filter: invert(100%);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
    filter: invert(100%);
}
/* FIM Carousel SERVIÇOS */

/* PORTFOLIO */
.bg-portfolio {
    background-color: aliceblue;
}
/* FIM PORTFOLIO */

/* SOBRE  */
/* TIMELINE CONFIGS */
.timeline {
    position: relative;
    margin: 50px auto;
    padding: 40 px 0;
    width: 1000px;
    box-sizing: border-box;
}

/* Barra */
.timeline::before {
    content: '';
    position: absolute;
    top: 5%;
    left: 50%;
    width: 2px;
    height: 95%;
    background: #000000;
}

.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

/* Ponto direito */
.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    top:32px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: #0079fb;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #0079fb;
}

/* Ponto esquerdo */
.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    top:32px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: #0079fb;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #0079fb;
}

/* Título */
.timeline ul li h3 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #0079fb;
}

.timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
}

.timeline ul li .time h4 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

/* Data direita */
.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 20px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: #0079fb;
    color: #fff;
    border-radius: 18px;
}

/* Data esquerda */
.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 20px;
    left: -180px;
    margin: 0;
    padding: 8px 16px;
    background:#0079fb;
    color: #fff;
    border-radius: 18px;
}
/* FIM SOBRE */

/* TIME */
.team {
    border-radius: 250px;
}
/* FIME TIME */